.inputs p{
	margin: 1%;
	padding: 1%;
	display: inline-flex;
	color: black;
	font-weight: bold;
	font-size: 30;
}

.inputs input{
	
	height: 40px;
	border-radius: 20px;
	border-style: solid;
	border-width: 2px;
	padding: 10px;

}
.inputs select{
	margin: 1% 5%;
}
#selection{
	height: 20px;
	width: 70px;
}
#Mytitle{
	   font-family:Helvetica;
	   margin-left: 10px;
}
body{
	background-image: url("images (3).jpg");
	background-repeat: no-repeat;
	background-size: cover;
}